@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.link {
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    padding: 12px 20px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar_logo {
    color: #484848;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
}
.navbar_news {
    margin-right: 16px;
}
.home_content {
    text-align: center;
    margin-top: 1rem;
    font-size: 52px;
}
.home_container {
    display: flex;
}
.home_form {
    width: 34%;
    padding: 1rem;
}
.user-news {
    width: 66%;
}
.registration {
    display: flex;
    justify-content: center;
}
.registration_container {
    margin-top: 4rem;
}
.registration_btn {
    border: none;
    background: #484848;
    color: #fff;
    padding: 12px 28px;
    border-radius: 12px;
    cursor: pointer;
}
.registration_input {
    padding: 10px;
    width: 100%;
    border: 1px solid #484848;
    outline: none;
    margin: 10px 0;
}
.error {
    border: 1px solid red;
}
.search {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.search_input {
    outline: none;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #484848;
}
.news-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem;
    grid-gap: 1.2rem;
}
.news-list_news_card {
    background: #fff;
    padding: 10px;
    color: #484848;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.news_card_title {
    text-align: center;
    font-size: 28px;
}
.news_card_text {
    font-size: 18px;
    margin: 10px 0;
    flex: 1
}
.news_card_date {
    border-top: 1px solid #5e5e5e;
    text-align: right;
    padding: 10px;
}
.news_card_date1 {
    border-bottom: 1px solid #5e5e5e;
}
.news_card_control {
    padding: 10px;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.news_card_approve-btn, .news_card_del-btn {
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.news_card_approve-btn {
    margin-right: 1rem;
    background: #0ea56b;
}
.news_card_del-btn {
    background: #cc2a19;
    
}
.enter_btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.navbar_user-accaunt {
    display: flex;
    align-items: center;
}
.avatar {
    width: 40px;
    height: 40px;
    background: #0ea56b;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    line-height: 40px;
}
.user-login {
    margin: 0 12px;
    margin-left: 4px;
    color: #0ea56b;
    font-size: 18px;
}
.logout_btn {
    width: 100%;
    background: transparent;
    color: #484848;
    font-size: 16px;
    transition: .25s;
}
.logout_btn:hover {
    background: #5e5e5e4f;
    color: #cc2a19;
}
@media only screen and (max-width: 576px) {
    .news-list {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1.2rem;
        grid-gap: 1.2rem;
    }
}